# vim: ft=sh

# Adds X-Envelope-To and X-Envelope-From headers to mails

:0
* ^To: \/.*
{
  HDRTO = $MATCH
}

:0
* ^From: \/.*
{
  HDRFROM = $MATCH
}

:0
* ^Sender: \/.*
{
  HDRSENDER = $MATCH
}

:0 fhw
| "$HOME/bin/envtofilter" "$SENDER" "$RECIPIENT" "$HDRFROM" "$HDRTO" "$HDRSENDER"
