# vim: ft=sh

# Adds X-Envelope-To and X-Envelope-From headers to mails

ENVFROM = $1
ENVTO = $2

:0
* ^To: \/.*
{
  TO = $MATCH
}

:0
* ^From: \/.*
{
  FROM = $MATCH
}

:0
* ^Sender: \/.*
{
  SENDER = $MATCH
}

:0 fhw
| $HOME/bin/envtofilter "$ENVFROM" "$ENVTO" "$FROM" "$TO" "$SENDER"
