# vim: ft=sh

# Filters all mailing list messages to a different folder

:0
* ^List-Id:
* !^X-List-Administrivia: yes
* !^User-Agent: Gerrit/.*
${DEFAULT}.lists/

# Some non-Mailman mailing lists seem to use this
:0
* ^Mailing-list:
${DEFAULT}.lists/
