# vim: ft=sh

:0
* ^List-Id: <.*\.lists\.sourceforge\.net>
{
  ADDBLOCKREGEX='s/(^|\n)[-]{78}(\n[^\n-][^\n-][^\n]+){1,7}(\n\n|\n|$)/\1\3/m'

  # remove advertisment for different encodings
  :0 fwb
  * ^Content-Transfer-Encoding: quoted-printable
  | perl -e 'use MIME::QuotedPrint; print decode_qp(join("",<STDIN>));' \
  | perl -p0777i -i -e "$ADDBLOCKREGEX"                                 \
  | perl -e 'use MIME::QuotedPrint; print encode_qp(join("",<STDIN>));'

  # always try to filter it in plaintext
  :0 fwb
  | perl -p0777i -i -e "$ADDBLOCKREGEX"
}
