# vim: ft=sh

# Blacklists various to: addresses because (nearly) everything arriving there is spam.

# Spam
:0
* ^(X-Envelope-)?To: (.* )?<?(etpace|yourname|czmjp|compiler|florian|datawave|dani|esjay|emeryahn|agt|clb|love|bernardo|quassel|root|admin|example.com)@the-compiler.org>?
${DEFAULT}.Spam/

# GMX Magazin
:0
* From: GMX Magazin <mailings@gmxnet.de>
${DEFAULT}.Spam/

# GMX stuff
:0
* ^TO_florian.bruhin@gmx.ch
${DEFAULT}.Spam/

# UBS shit
:0
* ^Subject: UBS (AG )?(Alarm|Benachrichtigung).*Internet-Banking
${DEFAULT}.Spam/

:0
* ^Subject: Warnalarm von der UBS
${DEFAULT}.Spam/

# Backscatter from forwarded GMX spammails
:0
* ^From: mailer-daemon@gmx.de
* ^Subject: Mail delivery failed: returning message to sender
${DEFAULT}.Spam/

# Misc. spam
:0
* ^Subject: Loan Offer\.\.\.Apply Now
${DEFAULT}.Spam/

:0
* ^From: .*[Ss]unglasses.*
* ^Subject: .*([Ss]unglasses|discount).*
${DEFAULT}.Spam/

:0
* ^Subject: CasinoClub - 120 GRATiS SPiNS! Ohne Einzahlung erforderlich!
${DEFAULT}.Spam/
