# Spam
:0 fhw
* ^TO_(etpace|yourname|czmjp|compiler|florian|datawave|dani|esjay|emeryahn|agt|clb|love|bernardo|quassel|root|admin|example.com)@the-compiler.org
|formail -i "X-TCO-Spam-Blacklist: yes"
