# vim: ft=sh

# Adds an [old-gmail] marker to mails arriving via the old mail address.

:0
* ^TO_florianbruh@gmail.com
{
    :0
    * ^Subject:\/.*
    {
      SUBJECT = $MATCH
    }

    :0 fhw
    | /usr/bin/formail -i "Subject: [old-gmail]$SUBJECT"
}
