# vim: ft=sh

# Runs ClamAV to check for viruses, and adds spam blacklist header if viruses
# were found.

:0 fhbw
|nice -n 15 ~/bin/clamwrapper

:0 fhw
* ^X-ClamAV:
|formail -i "X-TCO-Spam-Blacklist: yes"
