# vim: ft=sh

# Moves nearly-spam messages (get the Monty Python reference?) to a seperate
# folder.
# These are generally messages which are not strictly spam, but still not
# important.

:0
* ^From.*-owner@.*
* ^Subject:.*(mailing list memberships reminder|Mitgliedschafts-Erinneru|mailing_list_memberships_remi)
* ^List-Id:
${DEFAULT}.eggs/

:0
* ^From: .*ventilator@semmel.ch>?
* ^To: .*lugs@lugs.ch>?
* ^Subject: .*Beiz.*nach.*Treff.*
${DEFAULT}.eggs/

:0
* ^From: Ubuntu Wiki <noreply@ubuntu.com>
${DEFAULT}.eggs/

:0
* ^From: Google Calendar <calendar-notification@google.com>
* ^Subject: You have no events scheduled today.
${DEFAULT}.eggs/

:0
* ^X-TCO-this-is-an-egg: yes
${DEFAULT}.eggs/

:0
* ^To: .*nobody@the-compiler.org>?
${DEFAULT}.eggs/

:0
* ^From: .*nobody@archlinux.org>?
* ^To: .*aur-general@archlinux.org>?
* ^Subject: .*Signoff report for.*
${DEFAULT}.eggs/

:0
* ^From: Massdrop <info@massdrop.com>
* ^Subject: (See What's New On Massdrop Today|They're Ending soon|See What's Ending Soon On Massdrop|We've Got Exciting New Drops)[;:].*
${DEFAULT}.eggs/

:0
* ^From: Massdrop <info@massdrop.com>
* ^Subject: ^=?utf-8?B?U2VlIFdoYXQncyBOZXcgT24gTWFzc2Ry.*
${DEFAULT}.eggs/
