# vim: ft=sh

# Filters all mailing list messages to a different folder

:0
* ^List-Id:
* !^X-List-Administrivia: yes
* !^User-Agent: Gerrit/.*
* !^From: News OVH <kundendienst@ovh.de>$
* !^From: .* <notifications@github.com>$
* !^X-Dokuwiki-Server: .*
${DEFAULT}.lists/

# Some non-Mailman mailing lists seem to use this
:0
* ^Mailing-list:
${DEFAULT}.lists/
