# vim: ft=sh

# Blacklists various to: addresses because (nearly) everything arriving there is spam.

# Spam
:0
* ^(X-Envelope-)?To: (.* )?<?(etpace|yourname|czmjp|compiler|florian|datawave|dani|esjay|emeryahn|agt|clb|love|bernardo|quassel|root|admin|example\.com|l3r\.de)@the-compiler.org>?$
${DEFAULT}.Spam/

:0
* ^(X-Envelope-)?To: (.* )?<?hphb@cmpl.cc>?$
${DEFAULT}.Spam/

# GMX Magazin
:0
* From: GMX Magazin <mailings@gmxnet.de>$
${DEFAULT}.Spam/

# GMX stuff
:0
* ^TO_florian.bruhin@gmx.ch$
${DEFAULT}.Spam/

# UBS shit
:0
* ^Subject: UBS (AG )?(Alarm|Benachrichtigung).*Internet-Banking.*
${DEFAULT}.Spam/

:0
* ^Subject: Warnalarm von der UBS$
${DEFAULT}.Spam/

# Backscatter from forwarded GMX spammails
:0
* ^From: mailer-daemon@gmx.de$
* ^Subject: Mail delivery failed: returning message to sender$
${DEFAULT}.Spam/

# Misc. spam
:0
* ^Subject: Loan Offer\.*Apply Now$
${DEFAULT}.Spam/

:0
* ^From: .*[Ss]unglass(es)?.*
* ^Subject: .*([Ss]unglass(es)?|discount).*
${DEFAULT}.Spam/

:0
* ^Subject: (Casino ?Club .* Einzahlung * * erforderlich.*|=\?UTF-8\?B\?Q2FzaW5vQ2x1YiAtIDEyMCBHUkFUaVMgU1BpTlMhIE9obmUgRWluemFobHVuZyBlcmZvcmRlcmxpY2gh\?=$|=\?UTF-8\?B\?Q2FzaW5vIENsdWIgLSAxNDAgRlJFSVNQSUVMRSAtIEtlaW5lIEVpbnphaGx1bmcgZXJmb3JkZXJsaWNoIQ==\?=)
${DEFAULT}.Spam/

:0
* ^From: .*[Aa]rgos.*
* ^Subject: Urgent Order$
${DEFAULT}.Spam/

:0
* ^Subject: Glückwunsch liebe Gewinner$
${DEFAULT}.Spam/

:0
* ^Subject: United Nations!!!$
${DEFAULT}.Spam/

:0
* ^Subject: Grant Award\.$
${DEFAULT}.Spam/

:0
* ^Subject: Humanitarian Development$
${DEFAULT}.Spam/

:0
* ^Subject: Open new horizons of pleasure tonight$
${DEFAULT}.Spam/

:0
* ^Subject: Supply projector lamps from China$
${DEFAULT}.Spam/

:0
* ^From: Postmaster@(126|163).com$
${DEFAULT}.Spam/

:0
* ^Subject: SV: funds donated to you$
${DEFAULT}.Spam/

:0
* ^From: Euro Gewinnspiel.*
* ^Subject: Achtung: Auszeichnung$
${DEFAULT}.Spam/

:0
* ^From: Ray-Ban .*
${DEFAULT}.Spam/

:0
* ^From: "?Michael Kors"? .*
${DEFAULT}.Spam/

:0
* ^From: .* <.*@fundeal\.com>
${DEFAULT}.Spam/

:0
* ^From: Louis Vuitton <.*@.*lv.*\.com>
${DEFAULT}.Spam/

:0
* ^From: Hermes <outlets@cheaphermes.com>
${DEFAULT}.Spam/

:0
* ^From: .*<info@probeens.com>$
${DEFAULT}.Spam/
