[Unit]
Description=Map tablet keys

[Service]
Type=oneshot
ExecStart=/usr/bin/setkeycodes 67 154
ExecStart=/usr/bin/setkeycodes 6c 149
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target
