[Unit]
Description=xinit with xvfb
After=network.target

[Service]
User=bitlbee
Group=bitlbee
ExecStart=/usr/bin/xvfb-run -s "-screen 0 1366x768x8" bash %h/.xinitrc

[Install]
WantedBy=multi-user.target
