[Unit]
Description=VirtualBox VM start
After=vboxweb.service

[Service]
Type=oneshot
ExecStart=/usr/bin/VBoxManage startvm "Debian Skype"
User=vbox
Group=vbox

[Install]
WantedBy=multi-user.target
