[Unit]
Description=tmux
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=%i
ExecStart=/usr/bin/tmux start
ExecStop=/usr/bin/tmux kill-session

[Install]
WantedBy=multi-user.target

